extends base
include _postCard
include _addNewPostCard

block content 
    maim.main 
        if user
            +addNewPostCard 
        else 
            p.review__condition.post-page Log in to post, comment, and like posts!
        each post in posts 
            +postCard(post, user)
        